# Ignore custom scripts used for development
scripts

# Ignore directories related to Python packaging
dist
build
src/*.egg-info/

#Ignore potential remnants of testing installs here
models

# Ignore Python cache files
*__pycache__*